@import './reset.css';
@import './common.css';


#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(1px);
  transition: transform .3s;
}
#header .inner {
  display: flex;
  padding: 10px 40px;
}
#header .name a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
}


#footer .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
}


/* 테블릿 분기점 */
@media (max-width: 1024px) {
  #header .inner  {
    padding: 10px 20px;
  }
  #header .name a {
    font-size: 18px;
    line-height: 40px;
  }
}

/* 모바일 분기점 */
@media (max-width: 767px) {
  #header .inner  {
    padding: 10px 10px;
  }
  #header .name a {
    font-size: 14px;
    line-height: 30px;
  }

  #footer .inner {
    font-size: 17px;
  }
}